<app-header></app-header>
<mat-card>
  <br>
    <mat-card-header>
        <mat-card-title>Happy to workout..!</mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <video autoplay muted loop id="myVideo">
          <source src="../../../assets/gall.mp4" type="video/mp4">
        </video>
        <!-- <video autoplay muted loop id="myVideo">
          <source src=" https://www.youtube.com/watch?v=QdA5XKlZ0DI&t=2856s" type="video/mp4">
        </video> -->
       
          <!-- <img class=main src="../../assets/19.jpg" > -->
       
  
    </mat-card-content>
<br><br>
<mat-card-header>
  <mat-card-title>Gallery..!</mat-card-title>
</mat-card-header>

    <mat-card-footer>
      <div class="container">
        <div class="image-gallery">
          <a class="img-1" href="../../assets/Gallery/g1.jpg">
            <img src="../../assets/Gallery/g1.jpg" class="i">
          </a>

          <a class="img-2" href="../../assets/Gallery/g5.jpg">
            <img src="../../assets/Gallery/g5.jpg" class="i">
          </a>

          <a class="img-3" href="../../assets/Gallery/g3.jpg">
            <img src="../../assets/Gallery/g3.jpg" class="i">
          </a>

          <a class="img-4" href="../../assets/Gallery/g7.jpg">
            <img src="../../assets/Gallery/g7.jpg" class="i">
          </a>

          <a class="img-5" href="../../assets/Gallery/g2.jpg">
            <img src="../../assets/Gallery/g2.jpg" class="i">
          </a>

          <a class="img-6" href="../../assets/Gallery/g9.jpg">
            <img src="../../assets/Gallery/g9.jpg" class="i">
          </a>

          <a class="img-7" href="../../assets/Gallery/g8.jpg">
            <img src="../../assets/Gallery/g8.jpg" class="i">
          </a>

          <a class="img-8" href="../../assets/Gallery/g10.jpg">
            <img src="../../assets/Gallery/g10.jpg" class="i">
          </a>
        </div>
      </div>
    </mat-card-footer>
</mat-card>
<app-footer></app-footer>

